<div class="main">

  <br><br>

  <div>
    <h3>Wettbewerbsleiter</h3>
    Füge weitere Benutzer hinzu, die in deinem Namen neue Wettbewerbstage erstellen/löschen dürfen. Außerdem dürfen diese Benutzer
    die Flüge anderer Benutzer bearbeiten/löschen.
    <br><br>
    <textarea cols="25" rows="7" [(ngModel)]="competition.AdminUsers" placeholder="E-Mailadressen der Benutzer (durch Komma getrennt)"></textarea>
  </div>

  <br><br>

  <div>
    <h3>Wendepunkte</h3>
    Füge hier den unveränderten Inhalt einer .cup Datei ein! Die Wendepunkte sind dann beim editieren einer Aufgabe verfügbar.
    <br><br>
    <textarea cols="25" rows="7" [(ngModel)]="competition.Waypoints" placeholder="Füge hier den Inhalt einer .cup Datei ein!"></textarea>
  </div>

  <div class="save-button">
    <button mat-raised-button color="accent" (click)="save()" *ngIf="userService.currentUser.isAdmin">Speichern</button>
  </div>
</div>