<a class="github" href="https://github.com/sandroLE/clubcontest"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/c6286ade715e9bea433b4705870de482a654f78a/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png"></a>

    <div class="top-bar">
	<div class="top-bar-inner">
			<a *ngIf="userService.currentUser.isLoggedIn" href="/Account/Settings">{{userService.currentUser.Name}}</a>
			<a *ngIf="userService.currentUser.isLoggedIn" href="/Account/Logout">Logout</a>
      <a *ngIf="!userService.currentUser.isLoggedIn" href="/Account/Login">Login</a>	
	</div>
</div>

<div class="create-competition">
  <div  class="heading">
    <div class="heading-container">
      clubcontest
      <div class="flieger" ></div>
    </div>
   
  </div>
  <div class="search">
    <input class="" type="text" (keyup)="nameChanged($event.target.value)" placeholder="Wettbewerb suchen" [(ngModel)]="name"  />
  </div>

  <div class="all ">
      <div *ngIf="filtered.length > 0">Wähle einen Wettbewerb aus, an dem du teilnehmen möchtest!<br><br></div>
      <div class="link" *ngFor="let c of filtered" (click)="open(c.Name)">{{c.Name}}</div>
  </div>



  <div *ngIf="filtered.length == 0" class="create">
    
    <div>Es scheint keinen Wettbewerb mit diesem Namen zu geben.</div>
    <div *ngIf="name.length > 3" class="create">
      
      <div><br><br><br>Möchtest du deinen eigenen Wettbewerb mit diesem Namen erstellen? </div>
      <div class="create-button">           
        <button mat-raised-button color="accent" (click)="create()" [disabled]="isButtonDisabled">Ja - Wettbewerb "{{name}}" erstellen</button>   
      </div>
      <div class="invalid-name" *ngIf="name?.length > 3 && isButtonDisabled">Verwende ausschließlich Buchstaben oder Zahlen, jedoch keine Leerzeichen, Bindestriche oder andere Sonderzeichen. </div>
    </div>
  </div>

</div>