SampleMvcApp/obj/
SampleMvcApp/bin/
Database/obj/
packages/
.vs/restore.dg
SampleMvcApp/wwwroot/js/favicon.ico
SampleMvcApp/wwwroot/js/index.html
SampleMvcApp/wwwroot/js/inline.bundle.js
SampleMvcApp/wwwroot/js/inline.bundle.map
SampleMvcApp/wwwroot/js/main.bundle.js
SampleMvcApp/wwwroot/js/main.bundle.map
SampleMvcApp/wwwroot/js/styles.bundle.js
SampleMvcApp/wwwroot/js/styles.bundle.map
SampleMvcApp/wwwroot/js/vendor.bundle.js
SampleMvcApp/wwwroot/js/vendor.bundle.map
SampleMvcApp/appsettings.development.json
SampleMvcApp/appsettings.json
SampleMvcApp/project.lock.json

ClubContestMvcApp/project\.lock\.json

ClubContestMvcApp/appsettings\.development\.json

ClubContestMvcApp/appsettings\.json
ClubContestMvcApp/Properties/PublishProfiles/tellingme - Web Deploy.pubxml
ClubContestMvcApp/Properties/PublishProfiles/tellingme - Web Deploy-publish.ps1
ClubContestMvcApp/Properties/PublishProfiles/publish-module.psm1
ClubContestMvcApp/wwwroot/js/
ClubContestMvcApp/bin/Debug/netcoreapp1.0/ClubContestMvcApp.deps.json
ClubContestMvcApp/bin/
ClubContestMvcApp/obj/
.vs/
ClubContest.sln.DotSettings.user
ClubContestMvcApp/Properties/PublishProfiles/tellingme - Web Deploy.pubxml.user
