:host{
    margin: 10px 0;
    display: flex;
    box-shadow: 0 0 4px 0px #afafaf;
    padding: 5px;
}

.task-point{  
    margin: 2px;
    flex-grow: 1;
}

.coordinates{
    font-size: 10px;
    color: gray;
}


.finish-type{
    font-size: 16px;
    padding: 20px 0 10px 20px;
    color:gray;

    mat-radio-button {
        margin-bottom: 5px;
    }

    ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{ background-color: gray; }        
    ::ng-deep  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{ border-color: gray;      }
}   
