@{
	Layout = "_Layout";
}

<style>
	.box {
		display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
	}
</style>
<div class="box">
	<br/>
	<br/>
	<br/>
	<h3>Impressum</h3>
	<br/>
	<br/>

	<div>
		Sandro Könnecke<br/>
		Härtelstraße 27<br/>
		04107 Leipzig<br/>
	</div>

</div>

