.headline{
    display: flex; 
    justify-content: space-between;
    font-size: 16px;  
    color: #1d1d1d;
    padding-right: 0px;  
}




.flight{
  border-top: 1px solid #eaeaea;
  border-left: 5px solid #FFF;
}

.flight:hover, .flight.selected{
    background-color: whitesmoke;
    border-left: 5px solid #3388ff;
}

.flight.selected.c0, .flight.c0:hover { border-left-color: #00d034; }
.flight.selected.c1, .flight.c1:hover { border-left-color: blueviolet; }
.flight.selected.c2, .flight.c2:hover { border-left-color: blue; }
.flight.selected.c3, .flight.c3:hover { border-left-color: brown; }
.flight.selected.c4, .flight.c4:hover { border-left-color: chocolate; }
.flight.selected.c5, .flight.c5:hover { border-left-color: green; }
.flight.selected.c6, .flight.c6:hover { border-left-color: crimson; }
.flight.selected.c7, .flight.c7:hover { border-left-color: darkorange; }
.flight.selected.c8, .flight.c8:hover { border-left-color: deeppink; }
.flight.selected.c9, .flight.c9:hover { border-left-color: red; }
.flight.selected.c10,.flight.c10:hover{ border-left-color: lightseagreen; }
.flight.selected.c11,.flight.c11:hover{ border-left-color: coral; }
.flight.selected.c12,.flight.c12:hover{ border-left-color: deepskyblue; }

.flight.expanded.selected, 
.flight.expanded:hover{
    background-color:rgb(231, 241, 255);
}

.details{
        display: flex;
    padding:4px 0px 0 0;
   
    color: #adadad;
        font-size: 12px;
}

.detail{
        margin: 0 25px 0 0;
}
.scores{
        padding: 8px 15px;
}

.expand-area{
    width: 100%;      
    padding: 45px 44px 13px 72px;    
    box-sizing: border-box;
    font-size: 15px;
}

.button-footer{
    display: flex;    
    justify-content: flex-end;
    color: #737373;
        margin-top: 15px;
}

.turnpoint{
    display: flex;
    font-size: 13px;
    padding: 5px;
    align-items: center;
}
.pin-button{
    cursor: pointer;
    color:gray;    
}
.pin-button:hover{
    color:black;
}

.flightInfo{
     padding: 6px 4px;
flex-grow: 1
}